# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html
Apocalypse <APOCAL@cpan.org> Apocalypse <perl@0ne.us>
Christopher J. Madsen <cjm@cjmweb.net> Christopher J. Madsen <perl@cjmweb.net>
Fayland Lam <fayland@gmail.com> <fayland@gmail.com>
John Napiorkowski <jjnapiork@cpan.org> John Napiorkowski <johnn@John-Napiorkowski-MacBook-Pro.local>
Jonathan Rockway <jrockway@cpan.org> Jonathan Rockway <jon@jrock.us>
Jonathan Rockway <jrockway@cpan.org> jrockway <jrockway@cpan.org>
Mike Doherty <mike@mikedoherty.ca> Mike Doherty <doherty@cs.dal.ca>
Nickolay Platonov <nickolay@desktop.(none)> <nickolay@nickolay-note.(none)>
Randy Stauner <rwstauner@cpan.org> <randy@magnificent-tears.com>
Ricardo Signes <rjbs@cpan.org> Ricardo SIGNES <rjbs@cpan.org>
Steven Haryanto <stevenharyanto@gmail.com> Steven Haryanto (on Asus Zenbook) <stevenharyanto@gmail.com>
