sudo: false
language: perl
perl:
  - blead       # builds perl from git
  - dev         # latest point release
  - "5.26"
  - "5.24"
  - "5.22"
  - "5.20"
before_install:
  - git clone git://github.com/travis-perl/helpers ~/travis-perl-helpers
  - source ~/travis-perl-helpers/init
  - build-perl
  - perl -V
  - build-dist
  - cd $BUILD_DIR
install:
  - cpan-install --deps
script:
  - perl Makefile.PL
  - make
  - prove -b -r -s -j$(test-jobs) $(test-files)
